doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='css/index.css')
    body
        #preloader
        #wrapper
            .body-container
                .container
                    ul#user-list
        .backdrop
            .modal-user
                h3.modal-title Удалить из избранного?
                .modal-content  Данный специалист будет удален из ваших закладок
                .modal-footer
                    button.modal-button.js-btn-deny Отмена
                    button.modal-button.js-btn-remove Удалить
        script(src='js/vendor/jquery-3.1.0.min.js')
        script(src='js/index.js')
