doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='css/index.css')
    body
        #preloader
        #wrapper
            .body-container
                .container.container--select
                    .select-wrap
                        .input-wrap
                            input.input-select.js-select-input( value="Выберите нужные параметры")
                        .tabs-group
                            ul.tabs-controls
                                li
                                  .tabs-controls__item.is-active.is-checked(data-tab="tab1")
                                      .tabs-controls__title Диаметр трубы
                                li
                                  .tabs-controls__item(data-tab="tab2")
                                      .tabs-controls__title Тип изделия
                                li
                                  .tabs-controls__item(data-tab="tab3")
                                      .tabs-controls__title Применение
                                li
                                  .tabs-controls__item(data-tab="tab4")
                                      .tabs-controls__title Другое
                            .tabs-content
                                    #tab1.tabs-content__item.is-active
                                        ul.tabs-content__list
                                            li.is-active
                                                .sp-basic-checked.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
                                    #tab2.tabs-content__item
                                        ul.tabs-content__list
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li.is-active
                                                .sp-basic-checked.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
                                    #tab3.tabs-content__item
                                        ul.tabs-content__list
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li.is-active
                                                .sp-basic-checked.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
                                    #tab4.tabs-content__item
                                        ul.tabs-content__list
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li.is-active
                                                .sp-basic-checked.i-tabs
                                                | Металические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Внутренние
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Наружные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С тонкой шляпкой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Сферические
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | С резьбой
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Хромированные
                                            li
                                                .sp-basic-arrow-r.i-tabs
                                                | Металические
        script(src='js/vendor/jquery-3.1.0.min.js')
        script(src='js/index.js')
